@import "font-awesome.scss";

@mixin box-sizing($bs) {
	-webkit-box-sizing: $bs;
	-moz-box-sizing: $bs;
	box-sizing: $bs;
}

body {
	direction: rtl;
	font-size: 16px;
	font-family: Arial, Tahoma;
	color: #000000;
	margin: 0;
	background-color: #d3d3d3;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

a {
	color: #353535;
}

.smiley {
	background: url('../images/smileys.png') no-repeat top left;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}

.smiley.bigsmile { background-position: 0px 0px; }
.smiley.blink { background-position: 0px -21px; }
.smiley.confused { background-position: 0px -42px; }
.smiley.depressed { background-position: 0px -63px; }
.smiley.sad { background-position: 0px -84px; }
.smiley.love { background-position: 0px -105px; }
.smiley.smile { background-position: 0px -126px; }
.smiley.tongue { background-position: 0px -147px; }
.smiley.surprised { background-position: 0px -168px; }

.flag {
	background: url('../images/flags.png') no-repeat top left;
	display: inline-block;
	width: 16px;
	height: 11px;
	margin: 0 2px;
}

.flag.usa { background-position: 0px 0px; }
.flag.israel { background-position: 0px -13px; }

#header {
	background-color: #e6e6e6;
	text-align: center;
	padding: 15px 0;

	.title {
		font-size: 2em;
		color: #4444cc;
		font-weight: bold;
		letter-spacing: 2px;
		margin-bottom: 5px;
	}

	.subtitle {
		font-size: 1.3em;
		color: #3366ff;
	}

	.logout {
		text-decoration: none;
		font-size: 0.9em;
		display: block;
		color: #dd0000;
		width: 888px;
		margin: 0 auto;
		text-align: right;
		height: 0;
	}
}

#chat {
	width: 894px;
	min-height: 450px;
	margin: 20px auto 0;
	padding: 10px;
	background-color: #dddddd;
	border: 1px solid #bebebe;
	@include box-sizing(border-box);
}

#chat_users {
	width: 162px;
	height: 436px;
	padding: 10px;
	display: inline-block;
	float: right;
	margin-left: 10px;
	background-color: #ffffff;
	border: 1px solid #bebebe;
	position: relative;
	@include box-sizing(border-box);

	ul {
		list-style-type: none;
	}

	li {
		margin-bottom: 3px;
		cursor: pointer;
		font-weight: bold;
	}
}

.beeper {
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#chat_messages {
	width: 700px;
	height: 395px;
	padding: 10px;
	display: inline-block;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	overflow: scroll;
	word-wrap: break-word;
	color: #202020;
	@include box-sizing(border-box);

	#login_message {
		color: #888888;
		margin-top: 150px;
		text-align: center;
		font-size: 1.5em;
	}

	ul {
		list-style-type: none;
	}

	li {
		margin-bottom: 8px;
	}

	.author {
		display: inline-block;
		font-weight: bold;
	}

	.pubdate {
		display: inline-block;
		font-size: 0.8em;

		&:before {
			content: '(';
		}

		&:after {
			content: '):';
		}
	}
}

.chat_form {
	margin-top: 5px;

	.input-container {
		width: 572px;
		display: inline-block;
		position: relative;
	}

	input[type="text"] {
		width: 100%;
		height: 32px;
		margin: 0;
		padding: 0 10px;
		border: 1px solid #bbbbbb;
		font-size: 0.8em;
		font-family: Tahoma;
		color: #666666;
		@include box-sizing(border-box);
	}

	.push-to-talk {
		position: absolute;
		left: 8px;
		bottom: 5px;
		text-decoration: none;
	}

	input[type="submit"] {
		width: 124px;
		height: 32px;
		margin: 0;
		padding: 0 10px;
		border: 1px solid #bbbbbb;
		background-color: #eeeeee;
		cursor: pointer;
		@include box-sizing(border-box);
	}

	input[type="submit"]:hover {
		background-color: #f3f3f3;
	}
}

#footer {
	text-align: center;
	margin: 10px;
	font-size: 0.8em;
	color: #444444;

	.flags {
		direction: ltr;
		margin-top: 3px;

		a {
			text-decoration: none;
		}
	}
}

body.ltr {
	direction: ltr;

	#header .logout {
		text-align: left;
	}

	#chat_users {
		float: left;
		margin-left: 0;
		margin-right: 10px;
	}

	.beeper {
		left: auto;
		right: 5px;
	}

	.push-to-talk {
		left: auto;
		right: 8px;
	}
}

.ie {
	.input-container {
		width: 571px;
	}
}