%form.chat_form(method="post" action="#" ng-submit="login()" onsubmit="return false" ng-controller="LoginFormController")
	%input(type="text" autofocus="autofocus" ng-model="nick" name="nick" required placeholder="אנא הזן כינוי (עד 15 תווים)" maxlength="15")
	%input(type="submit" name="submit" value="התחבר")