%form.chat_form(ng-submit="login()" ng-controller="LoginFormController")
	%input(type="text" autofocus="autofocus" ng-model="nick" name="nick" required placeholder="אנא הזן כינוי (עד 15 תווים)" maxlength="15")
	%input(type="submit" name="submit" value="התחבר")