%form.chat_form(method="post" action="#" ng-submit="send()" onsubmit="return false" ng-controller="MessageFormController")
	%input(type="text" autofocus="autofocus" ng-model="message" name="message" autocomplete="off" placeholder="אנא הזן את ההודעה שברצונך לשלוח")
	%input(type="submit" name="submit" value="שלח")
