%form.chat_form(ng-submit="send()" ng-controller="MessageFormController")
	%input(type="text" autofocus="autofocus" ng-model="message" name="message" autocomplete="off" placeholder="{{'please_enter_message' | i18n}}")
	%input(type="submit" name="submit" value="{{'send' | i18n}}")
