%ul
	%li(ng-repeat="user in userlist" style="color: {{user.color}}" ng-bind="user.nickname")

%i.icon-volume-off.beeper(ng-show="user.loggedIn" alt="{{beeperTooltip}}" title="{{beeperTooltip}}" rel="tooltip" ng-title="Toggle the sound" ng-class="{'icon-volume-up': beeperActive()}" ng-click="toggleBeeper()")