<!DOCTYPE html>
%html(ng-app="WebChat" ng-controller="AppController" ie-class)
	%head
		%meta(charset="utf-8")
		%title(ng-bind="title")
		%meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		%meta(name="description" content="WebChat is built with AngularJS - it use HTML5 WebSockets for communication and Node.js as backend")
		%link(rel="stylesheet" href="styles/main.css")

	%body(ng-class="{'ltr': i18n.meta.dir == 'ltr'}")

		%header#header
			%hgroup
				%h1.title(ng-bind="appName")
				%h2.subtitle(ng-bind-template="{{'hello' | i18n}} {{user.nick || ('guest' | i18n)}}!")

			%a.logout(href="" title="{{'logout' | i18n}}" ng-click="logout()" ng-show="user.loggedIn")
				%i.icon-off
				%span(ng-bind="'logout' | i18n")

		%section#chat
			%aside#chat_users(ng-include src="templates.userList" ng-controller="UserListController")

			%article#chat_messages(ng-switch on="user.loggedIn" ng-controller="ChatController" scroll-to-bottom)
				%ng-include(ng-switch-when="false" src="templates.loginMessage")
				%ng-include(ng-switch-when="true" src="templates.chatMessages")

			%ng-switch(on="user.loggedIn")
				%ng-include(ng-switch-when="false" src="templates.loginForm")
				%ng-include(ng-switch-when="true" src="templates.messageForm")

		%footer#footer
			%div(ng-bind-template="{{appName}} &copy 2013")
			.flags
				%a(href="" title="{{lang.name}}" ng-repeat="lang in languages" ng-click="setLanguage('name', lang.name)")
					%i(class="flag {{lang.icon}}")

		%a#fork-me(href="https://github.com/AdirAmsalem/WebChat")
			%img(src="//s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")

		/ AngularJS
		%script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
		%script window.angular || document.write('<script src="scripts/dependencies/angular.min.js"><\/script>')
		/ /AngularJS

		/ Application
		/ build:js scripts/WebChat.min.js
		%script(src="scripts/main.js")
		%script(src="scripts/angular/controllers/app.controller.js")
		%script(src="scripts/angular/controllers/chat.controller.js")
		%script(src="scripts/angular/controllers/userlist.controller.js")
		%script(src="scripts/angular/controllers/login.form.controller.js")
		%script(src="scripts/angular/controllers/message.form.controller.js")
		%script(src="scripts/angular/services/chat.service.js")
		%script(src="scripts/angular/services/userlist.service.js")
		%script(src="scripts/angular/services/server.service.js")
		%script(src="scripts/angular/services/beeper.service.js")
		%script(src="scripts/angular/services/counter.service.js")
		%script(src="scripts/angular/services/storage.service.js")
		%script(src="scripts/angular/services/speech-recognition.service.js")
		%script(src="scripts/angular/filters/i18n.filter.js")
		%script(src="scripts/angular/directives/scroll-to-bottom.directive.js")
		%script(src="scripts/angular/directives/ie-class.directive.js")
		/ endbuild
		/ /Application
